// *-mobile-*

.carousel-wrapper {
    position: relative;
    text-align: center;
    font-size: 2.5em;
    margin: 10% 5%;
  
    .carousel-item {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 50% 50% 20% 50%;
      transition: all 1s ease-in-out;
      border: 1px solid white;
      background-repeat: no-repeat;
      background-size: cover;

    .text { 
      position: absolute;
      display: block;
      color: transparent;
      transition-property: color;
      // transition: color 5s;
    }

      .arrow {
      position: fixed;
      top: 0;
      display: block;
      width: 50px;
      height: 100%;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      background: url("http://haloxp.com/codepen/carousel-arrow-dark.png") 50% 50% / 20px no-repeat;
  
        &.arrow-prev {
          left: 0;
        }

        &.arrow-next {
          right: 0;
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg);
        }
      }

      &.light {
        transition: all  1s ease-in-out;
        
  
        // .arrow {
        //   background: url("http://haloxp.com/codepen/carousel-arrow-light.png") 50% 50% / 20px no-repeat;
        // }
      }

      @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
          .arrow, &.light .arrow {
            background-size: 10px;
            background-position: 10px 50%;
          }
        }
    }

    .item-1 {
      z-index: 1;
      background-image: url('./sum.jpg');
      background-origin: padding-box;
    }
    
    .item-2 {
      z-index: 2;
      background-image: url('./fall.jpg');
      background-origin: padding-box;
    }

    .item-3 {
      z-index: 3;
      background-image: url('./winter.jpg');
    }

//vanish points: right 1714px, left -2133px
    .current {
      background-position: 0px top;
      background-origin: padding-box;
    }
    
    .next {
      background-position: 1714px top;
      background-origin: padding-box;
    }

    .prev {
      background-position: -1919px top;
      background-origin: padding-box;
    }
    
}

//*-desktop-*

// #par {
//   position: inherit;
// }

// .carousel-wrapper {
//   position: relative;
//   text-align: center;
//   margin: 10% 5% 10% 5%;

//   .carousel-item {
//     padding: 411px 0 24% 0;
//     transition: all 1s ease-in-out;
//     border: 5px solid white;
//     color: transparent;
//     margin: 20% 0 20% 0;

//     .text {
//       position: absolute;
//       display: block;
//       font-size: 2.5em;
//     }
    
//     .color {
//       color: black;
//       transition: color 2s ease-in-out;
//     }
//     .arrow {
//       position: absolute;
//       top: 0;
//       display: none;
//       width: 50px;
//       height: 100%;
//       -webkit-tap-highlight-color: rgba(0,0,0,0);
//       background: url("http://haloxp.com/codepen/carousel-arrow-dark.png") 50% 50% / 20px no-repeat;

//       &.arrow-prev {
//         left: 0;
//       }

//       &.arrow-next {
//         right: 0;
//         -webkit-transform: rotate(180deg);
//                 transform: rotate(180deg);
//       }
//     }

//     @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
//         .arrow, &.light .arrow {
//           background-size: 10px;
//           background-position: 10px 50%;

//         }
//       }
//   }

//   [id^="target-item"] {
//     display: none;
//   }

//   .item-1 {
//     z-index: 1;
//     opacity: 1;
//     background-image: url(sum.jpg);
//   }

//   .item-2 {
//     z-index: 2;
//     opacity: 1;
//     background-image: url(fall.jpg);
//   }

//   .item-3 {
//     z-index: 3;
//     opacity: 1;
//     background-image: url(winter.jpg);
//   }
// }